[Desktop Entry]
Version=1.1
Type=Application
Name=Navegador Zeroconf de Avahi
NoDisplay=true
Comment=Navegar en busca de servicios Zeroconf disponibles en su red
Icon=network-wired
Exec=/usr/bin/avahi-discover
Actions=
Categories=GNOME;System;
