[Desktop Entry]
Version=1.1
Type=Application
Name=Configuración del gestor de archivos
NoDisplay=true
Comment=Configure el gestor de archivos Thunar
Icon=org.xfce.thunar
Exec=thunar-settings
Actions=
Categories=DesktopSettings;GTK;Settings;X-XFCE-PersonalSettings;X-XFCE-SettingsDialog;XFCE;
Keywords=thunar;ajustes;preferencias;configurar;miniaturas;tamaño;formato;fecha;atajos;panel;vista;árbol;pestañas;
StartupNotify=true
