[Desktop Entry]
Version=1.1
Type=Application
Name=Acerca de Xfce
NoDisplay=true
Comment=Información sobre el entorno de escritorio Xfce
Icon=org.xfce.about
OnlyShowIn=XFCE;
Exec=xfce4-about
Actions=
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
