[Desktop Entry]
Version=1.1
Type=Application
Name=Karbon
GenericName=Gráficos escalables
Comment=Crear dibujos vectoriales escalables
Icon=calligrakarbon
Exec=karbon %U
Actions=
MimeType=application/vnd.oasis.opendocument.graphics;application/x-karbon;image/x-eps;application/postscript;image/svg+xml;image/svg+xml-compressed;image/x-wmf;application/pdf;image/x-xfig;
Categories=Graphics;
