[Desktop Entry]
Version=1.1
Type=Application
Name=ePDFViewer
GenericName=Visor PDF
NoDisplay=true
Comment=Visor de documentos PDF ligero
Icon=epdfview
Exec=epdfview %f
Actions=
MimeType=application/pdf;
Categories=GTK;Office;Viewer;
