[Desktop Entry]
Version=1.1
Type=Application
Name=Ventana de inicio de sesión
Comment=Configurar la ventana de inicio de sesión
Icon=lightdm-settings
Exec=pkexec lightdm-settings
Actions=
Categories=Settings;
StartupNotify=true
