[Desktop Entry]
Version=1.1
Type=Application
Name=Editor del menú
Comment=Añadir o eliminar aplicaciones del menú
Icon=menulibre
OnlyShowIn=Budgie;Cinnamon;GNOME;KDE;LXDE;LXQt;MATE;Pantheon;Unity;XFCE;
Exec=/usr/bin/menulibre
Actions=
Categories=Settings;
Keywords=Configuration;Menu;User;
StartupNotify=true
