[Desktop Entry]
Version=1.1
Type=Application
Name=Configuración del editor de texto
Comment=Configurar el editor de texto Mousepad
Icon=accessories-text-editor
NotShowIn=GNOME;
Exec=mousepad --preferences
Actions=
Categories=Settings;
StartupNotify=true
