[Desktop Entry]
Version=1.1
Type=Application
Name=Control de Volumen de PulseAudio
GenericName=Control de Volumen
Comment=Ajustar el nivel de volumen
Icon=multimedia-volume-control
Exec=pavucontrol
Actions=
Categories=Settings;
StartupNotify=true
