[Desktop Entry]
Version=1.1
Type=Application
Name=Configuración de impresión
GenericName=Configuración de impresión
Comment=Configurar impresoras
Icon=printer
Exec=system-config-printer
Actions=
Categories=Settings;
StartupNotify=true
