[Desktop Entry]
Version=1.1
Type=Application
Name=Cambio de nombre en masa
GenericName=Cambio de nombre en masa
NoDisplay=true
Comment=Renombrar múltiples archivos
Icon=org.xfce.thunar
Exec=thunar --bulk-rename %F
Actions=
Categories=Core;Filesystem;GTK;System;Utility;
Keywords=cambiar;nombre;masa;renombrar;thunar;archivos;carpetas;directorios;
StartupNotify=true
