[Desktop Entry]
Version=1.1
Type=Application
Name=Navegador web
Comment=Navegar por la red
Icon=web-browser
OnlyShowIn=XFCE;
Exec=exo-open --launch WebBrowser %u
Actions=
Categories=X-XFCE;X-Xfce-Toplevel;
StartupNotify=true
