[Desktop Entry]
Version=1.1
Type=Application
Name=Gestor de archivos
Comment=Navegar por el sistema de archivos
Icon=system-file-manager
OnlyShowIn=XFCE;
Exec=exo-open --launch FileManager %u
Actions=
Categories=X-XFCE;X-Xfce-Toplevel;
StartupNotify=true
