[Desktop Entry]
Version=1.1
Type=Application
Name=Buscador de aplicaciones
NoDisplay=true
Comment=Encuentre y ejecute aplicaciones instaladas en el sistema
Icon=org.xfce.appfinder
Exec=xfce4-appfinder
Actions=
Categories=Utility;X-XFCE;
Keywords=programa;aplicaciones;marcadores;
StartupNotify=true
