[Unit]
Description=CambonOS Upgrade Service

[Service]
Type=simple
User=updates
RemainAfterExit=yes
ExecStart=/usr/bin/cambonos-upgrade
StandardOutput=journal
StandardError=journal
SyslogIdentifier=cambonos-upgrade
