[Desktop Entry]
Version=1.0
Type=Link
Name=Stadia
Categories=Game;
Comment=One place for all the ways of play
Icon=Stadia_logo
URL=https://stadia.google.com/
