[Desktop Entry]
Version=1.1
Type=Application
Name=Steam
Comment=Aplicación para administrar y ejecutar juegos en Steam
Icon=steam
Exec=/usr/bin/steam-runtime %U
Actions=Store;Community;Library;Servers;Screenshots;News;Settings;BigPicture;Friends;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Categories=Game;

[Desktop Action Store]
Name=Tienda
Exec=steam steam://store

[Desktop Action Community]
Name=Comunidad
Exec=steam steam://url/SteamIDControlPage

[Desktop Action Library]
Name=Biblioteca
Exec=steam steam://open/games

[Desktop Action Servers]
Name=Servidores
Exec=steam steam://open/servers

[Desktop Action Screenshots]
Name=Capturas
Exec=steam steam://open/screenshots

[Desktop Action News]
Name=Noticias
Exec=steam steam://open/news

[Desktop Action Settings]
Name=Parámetros
Exec=steam steam://open/settings

[Desktop Action BigPicture]
Name=Big Picture
Exec=steam steam://open/bigpicture

[Desktop Action Friends]
Name=Amigos
Exec=steam steam://open/friends
