[Desktop Entry]
Version=1.1
Type=Application
Name=Oracle VM VirtualBox
GenericName=Virtual Machine
Comment=Run several virtual systems on a single host computer
Icon=virtualbox
TryExec=VirtualBox
Exec=VirtualBox %U
Actions=Manager;
MimeType=application/x-virtualbox-vbox;application/x-virtualbox-vbox-extpack;application/x-virtualbox-ovf;application/x-virtualbox-ova;
Categories=Development;
Keywords=virtualization;
StartupWMClass=VirtualBox Manager

[Desktop Action Manager]
Name=Open VM Manager
Exec=VirtualBox
