[Desktop Entry]
Version=1.1
Type=Application
Name=Configuración de red avanzada
NoDisplay=true
Comment=Gestione y cambie sus ajustes de la conexión de red
Icon=preferences-system-network
Exec=nm-connection-editor
Actions=
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;X-GNOME-Utilities;
StartupNotify=true
OnlyShowIn=Old;
